<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>TD & K Gadisi Foundation</title>
     <link rel="manifest" href="{{ url_for('static', filename='manifest/manifest.webmanifest')}}">
    <meta name="description" content="The TD & K Gadisi Foundation is a non-profit organization and platform dedicated to the noble mission of enhancing the quality of life for impoverished and marginalized communities">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes"> <!-- Enables full-screen mode on iOS -->
    <meta name="apple-mobile-web-app-status-bar-style" content="default"> <!-- Sets the status bar style on iOS -->
    <!-- Add the following two meta tags to configure the web app's appearance on iOS -->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/logo-bg.png') }}">
    <meta name="apple-mobile-web-app-title" content="TD & K Gadisi Foundation"> <!-- Define the app's name on iOS home screen -->
    <!-- Enable web app functionality on Android -->
    <meta name="mobile-web-app-capable" content="yes"> <!-- Enable full-screen mode on Android -->
    <link rel="icon" sizes="192x192" href="{{ url_for('static', filename='images/logo-bg.png') }}"> <!-- Specify the Android app icon -->

        <!-- Enable web app functionality on Windows desktop -->
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='images/logo-bg.png') }}"> <!-- Specify the Windows tile icon -->
    <meta name="msapplication-TileColor" content="#0078d4"> <!-- Specify the Windows tile color -->

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.ico') }}" type="image/ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slick.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/LineIcons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">

</head>

<body>
    <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
    <div class="preloader">
        <div class="loader">
            <div class="ytp-spinner">
                <div class="ytp-spinner-container">
                    <div class="ytp-spinner-rotator">
                        <div class="ytp-spinner-left">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                        <div class="ytp-spinner-right">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <header class="header-area">
        <div class="navbar-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar" href="{{ url_for('home.get_home') }}">
                                <img src="{{ url_for('static', filename='images/logo-bg.png') }}" width="80" height="45" alt="TDK Foundation">
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <ul id="nav" class="navbar-nav ml-auto">
                                    <li class="nav-item active">
                                        <a class="page-scroll" href="{{ url_for('home.get_home') }}">HOME</a>
                                    </li>
                                </ul>
                            </div> <!-- navbar collapse -->
                        </nav> <!-- navbar -->

                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- navbar area -->
    <div id="home" class="header-hero bg_cover" style="background-image: url({{ url_for('static', filename='images/gadisi/banner.jpg') }})">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="header-hero-content text-center">
                        <h3 class="header-sub-title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">TD & K Gadisi Foundation</h3>
                        <h2 class="header-title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.5s">Community Out-Reach & Giving Back</h2>
                        <p class="text wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.8s">A Non Profit Organisation, The Platform Aim is Community Out Reach and Giving Back </p>
                    </div> <!-- header hero content -->
                </div>
            </div> <!-- row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-hero-image text-center wow fadeIn" data-wow-duration="1.3s" data-wow-delay="1.4s">
{#                            <img src="{{ url_for('static', filename='images/banner.jpg') }}" alt="hero">#}
                    </div> <!-- header hero image -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
        <div id="particles-1" class="particles"></div>
    </div> <!-- header hero -->
    </header>

    <div class="row">
        <div class="card col-lg-12 col-sm-12">
            <div class="card-header">
                <h3 class="card-title">Admin</h3>
            </div>
            <div class="card-body">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="add-tab" data-toggle="tab" href="#add" role="tab" aria-controls="add" aria-selected="true">Add Project</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="view-tab" data-toggle="tab" href="#view" role="tab" aria-controls="view" aria-selected="false">View Projects</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">

                    <div class="tab-pane fade show active" id="add" role="tabpanel" aria-labelledby="add-tab">

                        <form action="{{ url_for('home.add_project') }}" method="POST" enctype="multipart/form-data">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title">Complete the form below into to create a new project</h5>
                                </div>
                                <div class="card-body">
                                <div class="form-group">
                                    <label for="project-name" class="col-form-label">Project Name</label>
                                    <input type="text" id="project-name" name="project_name" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="introduction" class="col-form-label">Introduction</label>
                                    <textarea class="form-control" name="introduction" id="introduction"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="description" class="col-form-label">Description</label>
                                    <textarea class="form-control" name="description" id="description"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="image" class="col-form-label">Image</label>
                                    <input type="file" name="image">
                                </div>
                            </div>
                                <!-- Add more project fields here as needed -->
                            <div class="card-footer">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="lni-save"> </i>
                                        Add Project
                                    </button>
                                </div>
                            </div>

                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="view" role="tabpanel" aria-labelledby="view-tab">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">List of Projects</h4>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    {% for project in projects_list %}
                                        <div class="card">
                                            <div class="card-header">
                                                <h4 class="card-title">{{ project.project_name }}</h4>
                                            </div>
                                            <img class="img-fluid" src="{{ url_for('static', filename='uploads/' + project.filename) }}">
                                            <div class="card-body">
                                                {{ project.introduction }}
                                            </div>

                                            <div class="card-footer">
                                                <a href="{{ url_for('home.delete_project', project_id=project.id) }}" class="btn btn-danger btn-sm">
                                                    <i class="lni-cut"> </i>
                                                    Delete
                                                </a>
                                            </div>

                                        </div>
                                    {% endfor %}
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% include 'layout/scripts.html' %}

</body>
</html>
