<section id="about" class="about-area pt-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-content mt-50 wow fadeInLeftBig" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="section-title">
                        <h2 class="title">ABOUT</h2>
                        <div class="line"></div>
                        <h3 class="title">TD & K <span>Gadisi Foundation</span></h3>
                    </div> <!-- section title -->
                    <p class="text">
                        The TD & K Gadisi Foundation is a non-profit organization and platform dedicated to the noble mission
                        of enhancing the quality of life for impoverished and marginalized communities.

                        Our organization is committed to giving back to these communities through a variety of initiatives and outreach programs,
                        all aimed at elevating their living standards and fostering positive change.
                    </p>

                </div> <!-- about content -->
            </div>
            <div class="col-lg-6">
                <div class="about-image text-center mt-50 wow fadeInRightBig" data-wow-duration="1s" data-wow-delay="0.5s">
                    <img  src="{{ url_for('static', filename='images/about.jpg') }}" width="600" height="350" alt="about">
                </div> <!-- about image -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>