<section id="gallery" class="about-image text-center mt-50 wow fadeInRightBig" data-wow-duration="3s" data-wow-delay="0.7s" style="visibility: visible; animation-duration: 3s; animation-delay: 0.5s; animation-name: fadeInRightBig;">
    <div class="container">
        <div class="row">

             <h3 class="title">Gallery</h3>
               <div class="video-wrapper">
                    <div class="video-image" id="galleryImage">
                        <img id="Image" src="{{ url_for('static', filename=image_filename) }}" class="img-fluid" style="visibility: visible" animation-duration: 3s; animation-delay: 0.5s; animation-name: fadeInRightBig;  alt="GadisiFoundation">
                    </div>
                </div> <!-- video wrapper -->
        </div>
    </div>
</section>