    <section id="how" class="video-counter pt-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="video-content mt-50 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                        <div class="video-wrapper">
                            <div class="video-image">
                                <img src="{{ url_for('static', filename='images/gallery/image_1.jpg') }}" width="600" height="350" alt="video">
                            </div>
                            <div class="video-icon">
                            </div>
                        </div> <!-- video wrapper -->
                    </div> <!-- video content -->
                </div>
                <div class="col-lg-6">
                    <div class="counter-wrapper mt-50 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                        <div class="counter-content">
                            <div class="section-title">
                                <h3 class="title">HOW WE WORK</h3>
                                <div class="line"></div>
                                <h3 class="title">TD & K <span> Gadisi Foundation</span></h3>
                            </div> <!-- section title -->
                            <p class="text">A significant amount of our work is undertaken at the community level in
                                partnership with traditional and community leaders, NGOs and faith-based organisations.</p>
                        </div> <!-- counter content -->
                    </div> <!-- counter wrapper -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>