<section id="values" class="services-area pt-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="section-title text-center pb-40">
                        <h3 class="title">VALUES</h3>
                        <div class="line m-auto"></div>
                        <h3 class="title">TD & K <span> Gadisi Foundation </span></h3>
                        <p class="title">Is a community based organisation whose values are based on Community Upliftment</p>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                        <div class="services-icon">
                            <img class="shape" src="{{ url_for('static', filename='images/upliftment.avif') }}" width="500" height="250" alt="shape">
                        </div>
                        <div class="services-content mt-30">
                            <h4 class="services-title"><a href="#">Upliftment</a></h4>
                            <p class="text">At the TD & K Foundation, our unwavering commitment to upliftment drives our every action.
                                We firmly believe in empowering disadvantaged communities to rise above adversity.
                                Through our various initiatives and outreach programs, we work tirelessly to provide opportunities and
                                support that enable individuals and communities to reach new heights, break barriers, and achieve their full potential
                            </p>

                        </div>
                    </div> <!-- single services -->
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                        <div class="services-icon">
                            <img class="shape" src="{{ url_for('static', filename='images/helping.avif') }}" width="500" height="250" alt="shape">
                        </div>
                        <div class="services-content mt-30">
                            <h4 class="services-title"><a href="#">Compassion</a></h4>
                            <p class="text">Compassion is the cornerstone of our organization's ethos.
                                We approach our mission with a deep sense of empathy and understanding.
                                We listen to the stories and challenges faced by those we serve and respond with care and kindness.
                                Our dedication to compassion fuels our efforts to make the world a more compassionate place, one act of kindness at a time.</p>
                        </div>
                    </div> <!-- single services -->
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                        <div class="services-icon">
                            <img class="shape" src="{{ url_for('static', filename='images/giving.avif') }}" width="500" height="250" alt="shape">
                        </div>
                        <div class="services-content mt-30">
                            <h4 class="services-title"><a href="#">Giving to Community</a></h4>
                            <p class="text">Giving is not just a value for us; it's a way of life.
                                <span> The TD & K Foundation</span> is rooted in the spirit of generosity.
                                We believe in the profound impact that giving can have on individuals and communities.
                                Through our philanthropic initiatives and outreach, we aim to be a source of positive change in the lives of those in need.
                                Our commitment to giving back is unwavering, and it drives us to continuously seek opportunities to make a meaningful difference.</p>
                        </div>
                    </div> <!-- single services -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>