<section id="wedo" class="video-counter pt-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="video-content mt-50 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                        <div class="video-wrapper">
                            <div class="video-image">
                                <img src="{{ url_for('static', filename='images/whatwedo.png') }}" alt="video">
                            </div>
                            <div class="video-icon">
                            </div>
                        </div> <!-- video wrapper -->
                    </div> <!-- video content -->
                </div>
                <div class="col-lg-6">
                    <div class="counter-wrapper mt-50 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                        <div class="counter-content">
                            <div class="section-title">
                                <h3 class="title">WHAT WE DO</h3>
                                <div class="line"></div>
                                <h3 class="title">DISTRIBUTION <span> of food parcels</span></h3>
                            </div> <!-- section title -->
                            <p class="text">At TD & K Gadisi Foundation, we are committed to making a difference through acts of compassion. Our "Giving" initiative focuses on the distribution of food parcels to those in need. We believe that providing essential sustenance is a fundamental way to uplift and support disadvantaged communities. Join us in our mission to create a world where no one goes hungry.</p>
                        </div> <!-- counter content -->
                        <div class="row no-gutters">
                            <div class="col-4">
                                <div class="single-counter counter-color-1 d-flex align-items-center justify-content-center">
                                    <div class="counter-items text-center">
                                        <span class="count"><span class="counter">40</span>K</span>
                                        <p class="text">FOOD PARCELS</p>
                                    </div>
                                </div> <!-- single counter -->
                            </div>
                            <div class="col-4">
                                <div class="single-counter counter-color-2 d-flex align-items-center justify-content-center">
                                    <div class="counter-items text-center">
                                        <span class="count"><span class="counter">8</span>K</span>
                                        <p class="text">FAMILIES</p>
                                    </div>
                                </div> <!-- single counter -->
                            </div>
                            <div class="col-4">
                                <div class="single-counter counter-color-3 d-flex align-items-center justify-content-center">
                                    <div class="counter-items text-center">
                                        <span class="count"><span class="counter">12</span></span>
                                        <p class="text">COMMUNITIES</p>
                                    </div>
                                </div> <!-- single counter -->
                            </div>
                        </div> <!-- row -->
                    </div> <!-- counter wrapper -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>