<!doctype html>
<html class="no-js" lang="en">
<head>
    {% include 'layout/head.html' %}
</head>
<body>
    <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
    <div class="preloader">
        <div class="loader">
            <div class="ytp-spinner">
                <div class="ytp-spinner-container">
                    <div class="ytp-spinner-rotator">
                        <div class="ytp-spinner-left">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                        <div class="ytp-spinner-right">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'sections/header.html' %}
    {% include 'sections/about.html' %}
    {% include 'sections/gallery.html' %}
    {% include 'sections/values.html' %}
    {% include 'sections/whawedo.html' %}
    {% include 'sections/how.html' %}
    {% include 'sections/contact.html' %}

    <!--====== FOOTER PART START ======-->
    {% include 'layout/footer.html' %}

    <a href="#" class="back-to-top"><i class="lni-chevron-up"></i></a>

    {% include 'layout/scripts.html' %}

    <script src="{{ url_for('static', filename='js/slide.js') }}"></script>
    {% include 'layout/slide.js' %}
    <script src="{{ url_for('static', filename='js/sw.js') }}"></script>

</body>
</html>
